<% include ./partials/header.ejs %>
<% include partials/main_nav.ejs %>
    <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> </h1>
      
      <p>
      <br/>This is the ExpressPortfolio site for COMP229 F2022 Assignment1 
      <br/>Created by YINGJIE ZHOU
      </p>

      <a href="/aboutme" class="btn btn-lg btn-outline-dark">About YINGJIE</a>
    </div>
  </main>

<% include ./partials/footer.ejs %>