<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>


		
			
				<div class="content" >
					<h1 class="high_title">YINGJIE ZHOU</h1>
					<p class="high_subtitle">About Me</p>
				
					<div class="left" >
						<img class="about_me_img" src="/Assets/images/selfie.jpg" style="max-width:500px"/>
					</div>
					<div class="right">
						<p id="about_me_text">For those who don't know me, my name is YINGJIE ZHOU and you can also call me Joe. Born and raised in China. 
							<br/>
							<br/>
							Currently studying Software Engineering in Centennial College.
							<br/>
							<br/>
						</p>
						<a class="link_text" href="/projects">Some of my projects...</a>
					</div>
					
				</div>

<% include ../partials/footer.ejs %>