<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Below are some of the projects I participated</p>
      </div>
    </div>

    <div class="container">

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-12">
            <img src="/Assets/images/sportsMatchGen_web.png" class="card-img" alt="...">
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h2>Sports Match Generator</h2>
              <p class="card-text">I was tasked with building a Match Generator by HTML,Css, and JavaScript</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
            <div class="col-md-5">
             <a herf="https://en.wikipedia.org/wiki/Risk_(game)">
                <img src="/Assets/images/Risk_logo.jpg" class="card-img" alt="...">
             </a>
            </div>

          <div class="col-md-7">
            <div class="card-body">
              <h2>Classic Risk</h2>
              <p class="card-text">I was able to build a Classic Risk game in C++.</p>
              <a href="https://www.youtube.com/watch?v=5g48vXnnf30" class="btn btn-primary btn-lg">Link to GameRules Video</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/simpleATM_Java.png" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Machine Learning</h2>
              <p class="card-text">I did a simple ATM simulation app with Java.</p>
            </div>
          </div>
        </div>
      </div>

    </div>





<% include ../partials/footer.ejs %>