<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>


<div class="content">
      <div>
        <div>
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/service_WebDev.jpg" alt="Web Development">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">I have working on HTML, CSS, and JS. Currently I am learning the Node.js and Angular.</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/service_Csharp.png" alt="C#">
            <img src="/Assets/images/service_Java.png" alt="Java">
            <div class="card-body">
              <h5 class="card-title">Object-Oriented Programming: C# and Java</h5>
              <p class="card-text">I have a good knowledge of C# and Java programming. </p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/service_Cpp.png" alt="C++">
            <div class="card-body">
              <h5 class="card-title">C++</h5>
              <p class="card-text">As I started to program back in the primary school, I am familiar with C++ programming</p>
            </div>
          </div>
        </div>
      </div>
    </div>




<% include ../partials/footer.ejs %>